/*--------------------------------------------------------------
COLORS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
SUSY
--------------------------------------------------------------*/
/*
	Theme Name: Altitude pro
	Theme URI: http://my.studiopress.com/themes/altitude/
	Description: Make a stunning first impression, grab attention, and dynamically tell your story with beautiful images and clean typography.
	Author: StudioPress
	Author URI: http://www.studiopress.com/

	Version: 1.0.3

	Tags: black, white, blue, green, orange, pink, one-column, two-columns, responsive-layout, custom-header, custom-menu, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready

	Template: genesis
	Template Version: 2.1

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/
/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	- Defaults
		- Typographical Elements
		- Headings
		- Objects
		- Gallery
		- Forms
		- Buttons
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- Avatar
		- Genesis
		- Search Form
		- Titles
		- WordPress
	- Widgets
	- Plugins
		- Genesis eNews Extended
		- Jetpack
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Primary Navigation
		- Secondary Navigation
		- Footer Navigation
		- Responsive Menu
	- Content Area
		- Front Page
		- Dashicons
		- Flexible Widgets
		- Content
		- Entries
		- Entry Meta
		- After Entry
		- Pagination
		- Content Boxes
		- Comments
	- Sidebar
	- Footer Widgets
	- Site Footer
	- Media Queries
		- Max-width: 1280px
		- Max-width: 1200px
		- Max-width: 1023px
		- Max-width: 800px
		- Max-width: 480px

*/
/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */
/* Baseline Normalize
	normalize.css v2.1.3 | MIT License | git.io/normalize
--------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a {
  background: transparent; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* remove border around all input elements */
input:focus {
  outline: none; }

/* remove border around all textarea elements */
textarea:focus {
  outline: none; }

/* remove border around all select elements */
select:focus {
  outline: none; }

/* remove border around all input,textarea and select elements */
input:focus, textarea:focus, select:focus {
  outline: none; }

/* remove border around all elements */
:focus {
  outline: none; }

/* Box Sizing
--------------------------------------------- */
*,
input[type="search"] {
  box-sizing: border-box; }

/* Float Clearing
--------------------------------------------- */
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
  content: " ";
  display: table; }

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table; }

/*
Defaults
---------------------------------------------------------------------------------------------------- */
/* Typographical Elements
--------------------------------------------- */
body {
  background-color: #fff;
  color: #000;
  font-family: "Ek Mukta", sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

body.altitude-home {
  background: none; }

a,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.site-header.dark {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

::-moz-selection {
  background-color: #000;
  color: #fff; }

::selection {
  background-color: #000;
  color: #fff; }

a {
  color: #CEB14B;
  text-decoration: none; }

a:hover {
  color: #000; }

p {
  margin: 0 0 30px;
  padding: 0; }

ol,
ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

b,
strong {
  font-weight: 800; }

cite,
em,
i {
  font-style: italic; }

blockquote {
  color: #999;
  margin: 40px; }

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px; }

hr {
  border: 0;
  border-collapse: collapse;
  border-top: 2px solid #f5f5f5;
  clear: both;
  margin: 40px 0; }

/* Headings
--------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ek Mukta", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 20px; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 32px; }

.image-section h2,
.solid-section h2 {
  font-size: 80px;
  font-weight: 200;
  line-height: 1; }

.front-page-2.solid-section h2 {
  font-size: 48px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

.image-section h4,
.solid-section h4 {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 18px; }

/* Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%; }

img {
  height: auto; }

.full-width-content img.pull-left {
  float: left;
  margin: 0 40px 40px -200px; }

.full-width-content img.pull-right {
  float: right;
  margin: 0 -200px 40px 40px; }

/* Gallery
--------------------------------------------- */
.gallery {
  margin-bottom: 28px;
  overflow: hidden; }

.gallery-item {
  float: left;
  margin: 0;
  padding: 0 4px;
  text-align: center; }

.gallery-columns-1 .gallery-item {
  width: 100%; }

.gallery-columns-2 .gallery-item {
  width: 50%; }

.gallery-columns-3 .gallery-item {
  width: 33%; }

.gallery-columns-4 .gallery-item {
  width: 25%; }

.gallery-columns-5 .gallery-item {
  width: 20%; }

.gallery-columns-6 .gallery-item {
  width: 16.6666%; }

.gallery-columns-7 .gallery-item {
  width: 14.2857%; }

.gallery-columns-8 .gallery-item {
  width: 12.5%; }

.gallery-columns-9 .gallery-item {
  width: 11.1111%; }

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  clear: left; }

.gallery .gallery-item img {
  border: none;
  height: auto;
  margin: 0; }

/* Forms
--------------------------------------------- */
input,
select,
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  color: #000;
  font-size: 20px;
  font-weight: 200;
  padding: 20px;
  width: 100%; }

input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none; }

.front-page input:focus,
.front-page textarea:focus {
  border: 1px solid #CEB14B;
  outline: none; }

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto; }

::-moz-placeholder {
  color: #000;
  opacity: 1; }

::-webkit-input-placeholder {
  color: #000; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.widget .button {
  background-color: #CEB14B;
  border: 2px solid #CEB14B;
  border-radius: 0px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 15px 25px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  white-space: normal;
  width: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none; }

/* Buttons
--------------------------------------------- */
button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button.clear:hover,
.button:hover,
.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .widget .button,
.widget .button:hover,
.widget .button.clear:hover {
  background-color: #424242;
  border: 2px solid #424242;
  color: #fff; }

.button {
  display: inline-block; }

button.small,
input[type="button"].small,
input[type="reset"].small,
input[type="submit"].small,
.button.small {
  padding: 8px 16px; }

.widget .button.clear {
  background-color: transparent;
  border: 2px solid #000;
  color: #000; }

.image-section .button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px; }

.image-section .button.clear {
  border-color: #fff;
  color: #fff; }

.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .widget .button:hover,
.image-section button:hover,
.image-section input:hover[type="button"],
.image-section input:hover[type="reset"],
.image-section input:hover[type="submit"],
.image-section .widget .button:hover {
  background-color: #fff;
  border: 2px solid #fff;
  color: #000; }

button:disabled,
button:disabled:hover,
input:disabled,
input:disabled:hover,
input[type="button"]:disabled,
input[type="button"]:disabled:hover,
input[type="reset"]:disabled,
input[type="reset"]:disabled:hover,
input[type="submit"]:disabled,
input[type="submit"]:disabled:hover {
  background-color: #ddd;
  border-color: #ddd;
  color: #fff;
  cursor: not-allowed; }

.post-password-form input[type="password"] {
  margin-bottom: 15px; }

/* Tables
--------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  width: 100%; }

tbody {
  border-bottom: 1px solid #ddd; }

th,
td {
  text-align: left; }

th {
  font-weight: bold;
  text-transform: uppercase; }

td {
  border-top: 1px solid #ddd;
  padding: 6px 0; }

/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* Site Containers
--------------------------------------------- */
.site-inner,
.wrap {
  float: none;
  margin: 0 auto;
  max-width: 1200px; }

.site-inner {
  background-color: #fff;
  clear: both;
  margin-top: 170px;
  position: relative;
  z-index: 9;
  word-wrap: break-word; }

.front-page .site-container .site-inner {
  margin-top: 0;
  max-width: 100%; }

.altitude-landing .site-container .site-inner {
  margin-top: 100px; }

/* Column Classes
	Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
--------------------------------------------- */
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.564102564102564%; }

.one-half,
.three-sixths,
.two-fourths {
  width: 48.717948717948715%; }

.one-third,
.two-sixths {
  width: 31.623931623931625%; }

.four-sixths,
.two-thirds {
  width: 65.81196581196582%; }

.one-fourth {
  width: 23.076923076923077%; }

.three-fourths {
  width: 74.35897435897436%; }

.one-sixth {
  width: 14.52991452991453%; }

.five-sixths {
  width: 82.90598290598291%; }

.first {
  clear: both;
  margin-left: 0; }

/*
Common Classes
---------------------------------------------------------------------------------------------------- */
/* Avatar
--------------------------------------------- */
.avatar {
  border-radius: 50%;
  float: left; }

.author-box .avatar {
  height: 88px;
  width: 88px; }

.entry-comments .avatar {
  height: 60px;
  width: 60px; }

.alignleft .avatar,
.author-box .avatar {
  margin-right: 24px; }

.alignright .avatar {
  margin-left: 24px; }

.comment .avatar {
  margin: 0 20px 24px 0; }

/* Genesis
--------------------------------------------- */
.breadcrumb {
  border-bottom: 2px solid #f5f5f5;
  font-size: 20px;
  margin-bottom: 60px;
  padding-bottom: 10px; }

.archive-description,
.author-box {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  font-size: 20px;
  margin-bottom: 100px;
  padding: 40px 0; }

.author-box-title {
  font-size: 22px;
  margin-bottom: 8px; }

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0; }

/* Search Form
--------------------------------------------- */
.search-form {
  overflow: hidden; }

.search-form input[type="search"] {
  margin-right: 10px;
  width: auto; }

.search-form input[type="submit"] {
  padding: 25px; }

.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Titles
--------------------------------------------- */
.archive-title {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 20px; }

.entry-title {
  max-width: 56rem;
  letter-spacing: -0.1rem;
  margin: 0 auto;
  font-size: 3.2rem;
  text-align: left;
  line-height: 124%;
  font-weight: 700;
  padding: 0 1.125% 2rem; }

.sidebar .entry-title {
  font-size: 24px;
  text-align: left; }

.entry-title a {
  color: #000; }

.entry-title a:hover {
  color: #CEB14B; }

.widget-full .widget-title {
  margin-bottom: 40px; }

/* WordPress
--------------------------------------------- */
.alignleft {
  float: left;
  text-align: left; }

.alignright {
  float: right;
  text-align: right; }

a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%; }

a.alignnone {
  display: inline-block; }

a.aligncenter img {
  display: block;
  margin: 0 auto; }

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px; }

img.alignnone,
.alignnone {
  margin: 0 0 12px; }

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0;
  width: 100%; }

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px; }

.wp-caption-text {
  font-size: 18px;
  line-height: 1.2;
  text-align: center; }

.entry-content p.wp-caption-text {
  margin-bottom: 0; }

.gallery-caption,
.entry-content .gallery-caption {
  margin: 0 0 10px; }

.post-password-form input {
  width: auto; }

.post-password-form input[type="submit"] {
  padding: 25px; }

.wp-audio-shortcode,
.wp-playlist,
.wp-video {
  margin: 0 0 28px; }

/*
Widgets
---------------------------------------------------------------------------------------------------- */
.widget {
  word-wrap: break-word; }

.widget ol > li {
  list-style-position: inside;
  list-style-type: decimal;
  padding-left: 20px;
  text-indent: -20px; }

.widget ul li {
  margin-bottom: 10px;
  padding-bottom: 10px; }

.widget li li {
  border: none;
  margin: 0 0 0 30px;
  padding: 0; }

.widget_calendar table {
  width: 100%; }

.widget_calendar td,
.widget_calendar th {
  text-align: center; }

/* Featured Content
--------------------------------------------- */
.featured-content .entry-title {
  font-size: 24px; }

/* Simple Social Icons
--------------------------------------------- */
.altitude-home .content .simple-social-icons {
  margin-top: 40px; }

.altitude-home .content .simple-social-icons ul li {
  margin: 0 20px !important; }

.altitude-home .content .simple-social-icons ul li a,
.altitude-home .content .simple-social-icons ul li a:hover {
  padding: 30px; }

/*
Plugins
---------------------------------------------------------------------------------------------------- */
/* Genesis eNews Extended
--------------------------------------------- */
.enews-widget input {
  border: none;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 70%; }

.enews-widget input[type="submit"] {
  float: right;
  font-size: 14px;
  padding: 20px;
  width: 30%; }

.enews form + p {
  margin-top: 24px; }

form#subscribeenews-ext-2 {
  border: 2px solid #424242;
  margin-bottom: 10px;
  margin-left: 20%;
  margin-right: 20%;
  overflow: hidden;
  padding: 10px;
  text-align: left;
  background-color: #fff; }

/* Genesis Portfolio Pro
--------------------------------------------- */
.genesis-pro-portfolio .content .pro-portfolio {
  padding: 0; }

/* Jetpack
--------------------------------------------- */
#wpstats {
  display: none; }

/*
Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
  background-color: #000;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }

.featured-section .site-header {
  background-color: transparent; }

.featured-section .site-header > .wrap {
  border-bottom: 0px solid #fff; }

.site-header.dark {
  background-color: #000; }

.site-header.dark > .wrap {
  border-bottom: none; }

.site-header.dark .nav-secondary {
  display: none; }

.admin-bar .site-header {
  top: 32px; }

/* Title Area
--------------------------------------------- */
.title-area {
  float: left;
  padding: 25px 0;
  width: 360px; }

.site-header.dark .title-area {
  padding: 15px 0; }

.site-title {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 1;
  margin-bottom: 0;
  text-transform: uppercase; }

.site-title a,
.site-title a:hover {
  color: #fff !important; }

.header-image .title-area,
.header-image .site-header.dark .title-area {
  padding: 0; }

.header-image .site-title > a {
  background-size: contain !important;
  display: block;
  height: 76px;
  text-indent: -9999px; }

.header-image .dark .site-title > a {
  height: 56px; }

.site-description {
  display: block;
  height: 0;
  margin-bottom: 0;
  text-indent: -9999px; }

/*
Site Navigation
---------------------------------------------------------------------------------------------------- */
.genesis-nav-menu {
  line-height: 1; }

.genesis-nav-menu .menu-item {
  display: inline-block;
  text-align: left; }

.genesis-nav-menu li li {
  margin-left: 0; }

.genesis-nav-menu a {
  color: #fff;
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 30px 15px;
  text-transform: uppercase; }

.site-header.dark .genesis-nav-menu a {
  padding: 20px 15px; }

.genesis-nav-menu li.highlight a:hover::before {
  color: #fff; }

.genesis-nav-menu li.highlight > a {
  font-weight: 800; }

.front-page .genesis-nav-menu li.current-menu-item > a,
.genesis-nav-menu > li > a {
  border-bottom: 2px solid transparent; }

.front-page .genesis-nav-menu li.current-menu-item > a:hover,
.genesis-nav-menu li.current-menu-item > a,
.genesis-nav-menu > li > a:hover {
  border-color: #fff; }

.genesis-nav-menu > .menu-item > a {
  text-transform: uppercase; }

.genesis-nav-menu .sub-menu {
  left: -9999px;
  letter-spacing: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 200px;
  z-index: 99; }

.genesis-nav-menu .sub-menu a {
  background-color: #111;
  padding: 20px;
  position: relative;
  width: 200px; }

.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu li.current-menu-item > a {
  background-color: #222; }

.genesis-nav-menu .sub-menu .sub-menu {
  margin: -54px 0 0 199px; }

.genesis-nav-menu .menu-item:hover {
  position: static; }

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1; }

.genesis-nav-menu > .first > a {
  padding-left: 0; }

.genesis-nav-menu > .last > a {
  padding-right: 0; }

.genesis-nav-menu > .right {
  color: #fff;
  display: inline-block;
  list-style-type: none;
  padding: 27px 20px;
  text-transform: uppercase; }

.genesis-nav-menu > .right > a {
  display: inline;
  padding: 0; }

.genesis-nav-menu > .rss > a {
  margin-left: 48px; }

.genesis-nav-menu > .search {
  display: block;
  margin: 0 auto;
  padding: 0 20px 20px;
  width: 50%; }

/* Primary Navigation
--------------------------------------------- */
.nav-primary {
  text-align: center; }

.nav-primary .genesis-nav-menu {
  float: right; }

/* Secondary Navigation
--------------------------------------------- */
.nav-secondary {
  border-bottom: 1px solid #fff; }

/* Footer Navigation
--------------------------------------------- */
.nav-footer .genesis-nav-menu {
  padding: 20px 0; }

.nav-footer .genesis-nav-menu a {
  border: none;
  font-weight: 800;
  letter-spacing: 3px;
  margin: 0 20px;
  padding: 0; }

/* Responsive Menu
--------------------------------------------- */
.responsive-menu-icon {
  cursor: pointer;
  display: none;
  margin-bottom: 10px;
  text-align: center; }

.responsive-menu-icon::before {
  color: #fff;
  content: "\f333";
  font: normal 24px/1 "dashicons";
  margin: 0 auto; }

.nav-secondary .responsive-menu-icon {
  margin: 10px auto 0; }

/*
Content Area
---------------------------------------------------------------------------------------------------- */
/* Front Page
--------------------------------------------- */
.image-section,
.solid-section {
  clear: both;
  text-align: center;
  width: 100%; }

.image-section {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(30%, rgba(0, 0, 0, 0.5)), color-stop(80%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#e6000000',GradientType=0 );
  display: table;
  overflow: hidden;
  table-layout: fixed;
  width: 100%; }

.image-section .widget-area {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.image-section,
.image-section a {
  color: #fff; }

.image-section a:hover,
.image-section .featured-content .entry-title a:hover {
  color: #CEB14B; }

.solid-section {
  background-color: #fff; }

.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5,
.front-page-6,
.front-page-7 {
  border-top: 54px solid transparent;
  margin-top: -54px;
  background-clip: padding-box;
  position: relative;
  z-index: 9; }

.front-page-1,
.front-page-3,
.front-page-5,
.front-page-7 {
  background-attachment: fixed;
  background-color: #fff;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover; }

.front-page-1 {
  position: relative; }

.front-page-1 .image-section {
  padding-top: 75px; }

.secondary-nav .front-page-1 .image-section {
  padding-top: 150px; }

.front-page-4 .solid-section {
  background-color: #f3f3f3; }

.bottom-image {
  margin-bottom: -120px;
  margin-top: 100px; }

.bottom-image img {
  margin-bottom: -10px; }

.front-page .field-wrap:last-child {
  margin-bottom: 0; }

.small-disclaimer {
  font-size: 14px;
  font-style: italic; }

/* Dashicons
--------------------------------------------- */
.front-page .dashicons {
  font-size: 40px;
  height: 40px;
  margin-bottom: 20px;
  width: 40px; }

/* Flexible Widgets
--------------------------------------------- */
.flexible-widgets {
  padding-bottom: 60px;
  padding-top: 100px; }

.flexible-widgets .widget {
  float: left;
  margin: 0 0 40px 2.5641%; }

.flexible-widgets.widget-full .widget,
.flexible-widgets.widget-area .widget:nth-of-type(1),
.flexible-widgets.widget-halves.uneven .widget:last-of-type {
  background: none;
  margin-left: 0;
  padding: 0;
  width: 100%; }

.widget-area.flexible-widgets.widget-half .widget,
.flexible-widgets.widget-halves .widget {
  width: 48.717948717948715%; }

.flexible-widgets.widget-thirds .widget {
  width: 31.623931623931625%; }

.flexible-widgets.widget-fourths .widget {
  width: 23.076923076923077%; }

.flexible-widgets.widget-halves .widget:nth-child(even),
.flexible-widgets.widget-thirds .widget:nth-child(3n+2),
.flexible-widgets.widget-fourths .widget:nth-child(4n+2) {
  clear: left;
  margin-left: 0; }

.solid-section .widget {
  background-color: #fff;
  padding: 40px; }

.solid-section .widget-title {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 30px; }

.flexible-widgets.widget-halves h2,
.flexible-widgets.widget-thirds h2,
.flexible-widgets.widget-fourths h2 {
  font-size: 36px; }

/* Content
--------------------------------------------- */
.content {
  float: left;
  width: 700px; }

.page .content {
  padding-bottom: 50px; }

.sidebar-content .content {
  float: right; }

.full-width-content .content {
  /*padding: 0 200px 50px;*/
  width: 100%; }

.full-width-content.front-page .content {
  padding: 0; }

/* Entries
--------------------------------------------- */
.entry {
  margin-bottom: 100px; }

.widget .entry {
  margin-bottom: 40px; }

.entry-content ol,
.entry-content ul {
  margin-bottom: 30px;
  margin-left: 40px; }

.entry-content ol > li {
  list-style-type: decimal; }

.entry-content ul > li {
  list-style-type: disc; }

.entry-content ol ol,
.entry-content ul ul {
  margin-bottom: 0; }

.entry-content code {
  background-color: #000;
  color: #ddd; }

/* Entry Meta
--------------------------------------------- */
p.entry-meta {
  font-size: 20px;
  margin-bottom: 0;
  display: none; }

.entry-header,
.entry-footer {
  text-align: center; }

.entry-header p.entry-meta {
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 16px;
  text-transform: uppercase; }

.entry-header::after {
  border-bottom: 1px solid #000;
  content: "";
  display: none;
  margin: 0 auto 60px;
  padding-bottom: 30px;
  width: 25%; }

.image-section .entry-header::after {
  border-color: #fff; }

.entry-footer::before {
  border-top: 1px solid #000;
  content: "";
  display: none;
  margin: 30px auto 0;
  padding-top: 60px;
  width: 25%; }

.sidebar .entry-header::after {
  display: none; }

.entry-categories::before,
.entry-tags::before {
  display: inline-block;
  font: normal 20px/1 "dashicons";
  margin-right: 5px;
  margin-top: 2px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased; }

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px; }

/* After Entry
--------------------------------------------- */
.after-entry {
  border-top: 1px solid #000;
  padding: 40px 0; }

.after-entry .widget {
  margin-bottom: 40px; }

.after-entry p:last-child,
.after-entry .widget:last-child {
  margin: 0; }

.after-entry li {
  list-style-type: none; }

/* Pagination
--------------------------------------------- */
.pagination {
  clear: both;
  margin: 40px 0; }

.adjacent-entry-pagination {
  margin-bottom: 0; }

.archive-pagination li {
  display: inline; }

.archive-pagination li a {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 8px 12px;
  text-transform: uppercase; }

.archive-pagination li a:hover,
.archive-pagination .active a {
  background-color: #CEB14B;
  color: #fff; }

/* Comments
--------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
  margin-bottom: 100px; }

p.comment-meta,
.entry-comments .comment,
.entry-comments .comment-reply {
  margin-bottom: 40px; }

.comment-header {
  font-size: 20px; }

.entry-comments .comment {
  border-bottom: 1px solid #000; }

.comment-content,
.entry-comments .comment {
  clear: both; }

p.form-submit,
.entry-comments .children .comment,
.entry-comments .comment-author {
  margin: 0; }

.entry-comments .children .comment {
  border: none; }

.comment-respond label {
  display: block;
  font-weight: 800; }

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 100%; }

.comment-list li,
.ping-list li {
  list-style-type: none; }

.entry-comments ul.children {
  margin-left: 40px; }

.ping-list .reply {
  display: none; }

/*
Sidebar
---------------------------------------------------------------------------------------------------- */
.sidebar {
  float: right;
  width: 360px; }

.sidebar-content .sidebar {
  float: left; }

.sidebar p:last-child {
  margin-bottom: 0; }

.sidebar li {
  list-style-type: none;
  margin-bottom: 6px;
  word-wrap: break-word; }

.sidebar ul > li:last-child {
  margin-bottom: 0; }

.sidebar .widget {
  margin-bottom: 40px; }

/*
Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets {
  background-color: #ffffff !important;
  clear: both;
  text-align: center;
  position: relative;
  z-index: 9;
  background-image: url(http://creativepreset.staging.wpengine.com/wp-content/uploads/2016/06/body-bg-2.png);
  background-position: center bottom; }

.footer-widgets .wrap {
  padding-bottom: 100px;
  padding-top: 100px; }

.footer-widgets,
.footer-widgets .wrap a,
.footer-widgets .wrap a.button {
  color: #424242; }

.footer-widgets a:hover {
  color: #000; }

.footer-widgets li {
  margin-bottom: 10px;
  padding-bottom: 10px; }

.footer-widgets .widget {
  margin-bottom: 40px; }

.footer-widgets p:last-child {
  margin-bottom: 0; }

/*
Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
  background-color: #000;
  padding: 20px;
  text-align: center; }

.site-footer,
.site-footer a,
.site-footer p {
  color: #fff; }

.site-footer a:hover {
  color: #CEB14B; }

.site-footer p {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 0;
  text-transform: uppercase; }

/*
Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1280px) {
  .site-inner,
  .wrap {
    max-width: 1140px; } }

@media only screen and (max-width: 1200px) {
  .site-inner,
  .wrap {
    max-width: 960px; }
  .site-header .widget-area {
    width: 580px; }
  .content {
    width: 520px; }
  .full-width-content .content {
    padding: 0 110px; }
  .genesis-nav-menu a {
    padding: 30px 10px; }
  .site-header.dark .genesis-nav-menu a {
    padding: 20px 10px; }
  .front-page-1,
  .front-page-3,
  .front-page-5,
  .front-page-7 {
    background-attachment: scroll; } }

@media only screen and (max-width: 1023px) {
  .site-inner,
  .wrap {
    max-width: 768px; }
  .secondary-nav .site-inner {
    margin-top: 80px; }
  .front-page .site-inner {
    max-width: none; }
  .site-header {
    position: static; }
  .front-page .site-header {
    background-color: #000; }
  .front-page .site-header > .wrap {
    border: none; }
  .content,
  .sidebar,
  .site-header .widget-area,
  .title-area {
    width: 100%; }
  .site-header .title-area,
  .site-header.dark .title-area {
    padding: 15px 0; }
  .header-image .dark .site-title > a {
    height: 76px; }
  .genesis-nav-menu,
  .site-header .widget-area,
  .site-title {
    text-align: center; }
  .header-image .site-title > a {
    background-position: center !important; }
  .nav-primary .genesis-nav-menu {
    float: none; }
  .nav-secondary,
  .site-header.dark .nav-secondary {
    border-bottom: none;
    display: block; }
  .genesis-nav-menu a,
  .site-header.dark .genesis-nav-menu a {
    padding: 10px; }
  .front-page .site-inner {
    margin-top: 0; }
  .site-inner {
    margin-top: 80px; }
  .full-width-content .content {
    padding: 0; }
  .full-width-content img.pull-left {
    margin-left: 0; }
  .full-width-content img.pull-right {
    margin-right: 0; }
  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds {
    margin: 0;
    width: 100%; }
  .flexible-widgets.widget-full .widget,
  .flexible-widgets.widget-halves .widget,
  .flexible-widgets.widget-thirds .widget,
  .flexible-widgets.widget-fourths .widget {
    margin: 0 auto 20px;
    width: 100%; }
  .image-section h2,
  .solid-section h2 {
    font-size: 60px; }
  .front-page-1 .image-section,
  .secondary-nav .front-page-1 .image-section {
    padding-top: 0; } }

@media only screen and (max-width: 800px) {
  .site-inner,
  .wrap {
    max-width: none;
    width: 100%; }
  .site-inner,
  .wrap {
    padding: 0 5%; }
  .front-page .site-inner {
    padding: 0; }
  .genesis-nav-menu.responsive-menu {
    display: none;
    float: none;
    padding-bottom: 20px; }
  .genesis-nav-menu.responsive-menu .menu-item,
  .responsive-menu-icon {
    display: block; }
  .genesis-nav-menu.responsive-menu .menu-item:hover {
    position: static; }
  .genesis-nav-menu.responsive-menu li.current-menu-item > a,
  .genesis-nav-menu.responsive-menu .sub-menu li.current-menu-item > a:hover,
  .genesis-nav-menu.responsive-menu li a,
  .genesis-nav-menu.responsive-menu li a:hover {
    background: none;
    border: none;
    display: block;
    padding: 10px 0;
    text-transform: none; }
  .genesis-nav-menu.responsive-menu .menu-item-has-children {
    cursor: pointer; }
  .genesis-nav-menu.responsive-menu .menu-item-has-children > a {
    margin-right: 60px; }
  .genesis-nav-menu.responsive-menu > .menu-item-has-children:before {
    content: "\f347";
    float: right;
    font: normal 20px/1 "dashicons";
    height: 20px;
    padding: 7px 20px;
    right: 0;
    text-align: right;
    z-index: 9999; }
  .genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
    content: "\f343"; }
  .genesis-nav-menu.responsive-menu > .menu-item > .sub-menu {
    display: none; }
  .genesis-nav-menu.responsive-menu .sub-menu {
    background-color: rgba(255, 255, 255, 0.05);
    left: auto;
    opacity: 1;
    position: relative;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 100%;
    z-index: 99; }
  .genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
    background-color: transparent;
    margin: 0;
    padding-left: 25px; }
  .genesis-nav-menu.responsive-menu .sub-menu li a,
  .genesis-nav-menu.responsive-menu .sub-menu li a:hover {
    padding: 10px 0;
    position: relative;
    text-transform: none;
    width: 100%; }
  .genesis-nav-menu.responsive-menu .current-menu-item > a,
  .genesis-nav-menu.responsive-menu .sub-menu .current-menu-item > a:hover,
  .genesis-nav-menu.responsive-menu > li.menu-item-has-children:hover > a,
  .genesis-nav-menu.responsive-menu a:hover {
    background: none; }
  .site-header .genesis-nav-menu.responsive-menu .current-menu-item > a,
  .site-header .genesis-nav-menu.responsive-menu .sub-menu li a,
  .site-header .genesis-nav-menu.responsive-menu .sub-menu li a:hover,
  .site-header .genesis-nav-menu.responsive-menu .sub-menu,
  .site-header .genesis-nav-menu.responsive-menu > .menu-item-has-children:before,
  .site-header .genesis-nav-menu.responsive-menu > li:hover > a,
  .site-header .genesis-nav-menu.responsive-menu a:hover {
    color: #fff; }
  .altitude-home .simple-social-icons ul li {
    margin: 0 20px 20px !important; }
  .footer-widgets .wrap {
    padding-top: 60px;
    padding-bottom: 60px; }
  .front-page-2,
  .front-page-3,
  .front-page-4,
  .front-page-5,
  .front-page-6,
  .front-page-7 {
    border-top: 0;
    margin-top: 0; }
  .image-section .flexible-widgets {
    padding-bottom: 80px; }
  .solid-section .flexible-widgets {
    padding-bottom: 40px;
    padding-top: 60px; }
  .bottom-image {
    margin-top: 60px;
    margin-bottom: -80px; }
  form#subscribeenews-ext-2 {
    border: 2px solid #424242;
    margin-bottom: 10px;
    margin-left: 0%;
    margin-right: 0%;
    overflow: hidden;
    padding: 10px;
    text-align: left;
    background-color: #fff; }
  .enews-widget input {
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%; }
  .enews-widget input[type="submit"] {
    float: right;
    font-size: 14px;
    padding: 20px;
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .image-section h2,
  .solid-section h2 {
    font-size: 40px; } }

*:focus {
  outline: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.footer-widgets input:hover[type="submit"] {
  color: #424242;
  background-color: #CEB14A;
  border: 2px solid #CEB14A; }

/* Ionicons
--------------------------------------------- */
.footer-widgets .wrap p.social a {
  border: 2px solid #424242;
  border-radius: 50%;
  color: #424242;
  display: inline-block;
  height: 55px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 55px;
  font-size: 25px; }

.footer-widgets .wrap p.social a:hover {
  border: 2px solid #CEB14A;
  color: #CEB14A; }

.icon ion-heart {
  color: #CEB14A; }

/* # Filterable portfolio
---------------------------------------------------------------------------------------------------- */
.post-type-archive-portfolio .archive-description {
  overflow: hidden; }

ul.filter {
  color: #999;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

ul.filter li {
  float: left; }

ul.filter li:first-child {
  margin-left: 0; }

ul.filter a {
  color: #555;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-bottom: none;
  font-size: 1.5rem;
  font-weight: 300;
  border-top: 4px solid #fff; }

ul.filter a:hover, ul.filter a.active {
  border-bottom: 4px solid #ceb14a; }

.filterable-portfolio {
  margin-left: -2rem;
  margin-left: -20px; }

.portfolio-item {
  float: left;
  margin-bottom: 2rem;
  margin-bottom: 40px;
  margin-left: 2rem;
  margin-left: 20px;
  position: relative;
  width: 23%; }

.portfolio-item a img {
  display: block;
  margin-bottom: 0; }

.portfolio-overlay {
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.portfolio-item img:hover + .portfolio-overlay, .portfolio-overlay:hover {
  opacity: 1; }

.portfolio-overlay h3 {
  font-weight: bold;
  margin: 0;
  width: 100%;
  padding: 5px 7px;
  text-transform: uppercase;
  color: #fff; }

.clearfix {
  clear: both; }

/*-----------------------------------------------------------------------------------*
/* = Isotope CSS Animations
/*-----------------------------------------------------------------------------------*/
.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s; }

.isotope {
  -webkit-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity; }

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  transition-duration: 0s; }

.filterable-portfolio-page .content .entry-header {
  margin-bottom: 1rem;
  margin-bottom: 10px; }

.filterable-portfolio-page .content .entry-title {
  margin-bottom: 3rem;
  margin-bottom: 30px; }

@media only screen and (max-width: 1179px) {
  .portfolio-item {
    width: 22%; } }

@media only screen and (max-width: 1023px) {
  .portfolio-item {
    width: 30%; } }

@media only screen and (max-width: 500px) {
  .portfolio-item {
    width: 100%; } }

.soliloquy-container .soliloquy-caption-inside {
  text-align: left !important;
  padding: 10px; }

.soliloquy-container {
  margin: 0 auto !important; }

.entry-header p.entry-meta {
  display: none; }

.flex-container {
  margin: 0 auto !important; }

/* ------------------------------------------------------------
.article-text p {
    max-width: 56rem;
    margin: 0 auto;
    color: #000;
    font-size: 1.35rem;
    line-height: 155%;
    padding: 0 1.125% 3rem;
}

h2.entry-title {
    font-size: 2.2rem;
    padding: 0rem;
}

.price{float:right;background-color:#ceb14a; color:#000;padding-left:5px;padding-right:5px;    font-size: 17px; font-weight: 600; margin-bottom: 50px;}

*/
/* Page Widget
------------------------------------------------------------ */
.pagewidget {
  line-height: 1.5;
  padding: 30px; }

.pagewidget p {
  margin-bottom: 24px;
  text-align: center; }

/* soliquy Widget
------------------------------------------------------------ */
.soliloquy-container .soliloquy-caption {
  position: absolute !important;
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 100 !important; }

.soliloquy-container .soliloquy-caption .soliloquy-caption-inside {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
  text-align: center !important;
  padding: 20px 0 35px !important;
  background-color: transparent !important; }

.soliloquy-container .soliloquy-caption-inside .soliloquy-caption-wrap {
  display: table-cell !important;
  vertical-align: middle !important; }

.soliloquy-container .soliloquy-caption h1 {
  color: #fff !important;
  font-size: 60px !important;
  margin: 0 0 10px !important;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) !important;
  letter-spacing: normal !important;
  text-transform: none !important; }

.soliloquy-container .soliloquy-caption a.soliloquy-button {
  font-weight: bold !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
  background-color: #ff3700 !important;
  border: 3px solid #fff !important;
  padding: 20px 35px !important;
  font-size: 20px !important; }

@media (min-width: 768px) and (max-width: 1024px) {
  .soliloquy-container .soliloquy-caption {
    bottom: 0px !important; } }

@media (max-width: 600px) {
  /** Hide the caption and control nav for small devices since they can swipe slides */
  .soliloquy-container .soliloquy-control-nav,
  .soliloquy-container .soliloquy-caption {
    display: none !important; } }

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 600; }

.product {
  position: relative; }
  .product .product-tag {
    position: absolute;
    padding: 16px 12px;
    background: #CEB14B;
    color: #fff;
    line-height: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px; }
  .product .product-price {
    position: absolute;
    background: #000;
    padding: 16px 10px;
    color: #fff;
    right: 0;
    bottom: 58px;
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    z-index: 100;
    line-height: 0; }
    @media (min-width: 480px) {
      .product .product-price {
        bottom: 78px; } }

.archive .product-price {
  bottom: 58px; }

.last-products {
  background: #EDEDED;
  padding: 40px 0; }

.product-grid-container::after {
  clear: both;
  content: "";
  display: block; }

@media (min-width: 480px) {
  .home .product, .archive article {
    width: 49.15254%;
    float: left; }
    .home .product:nth-child(2n + 1), .archive article:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .home .product:nth-child(2n + 2), .archive article:nth-child(2n + 2) {
      margin-left: 50.84746%;
      margin-right: -100%;
      clear: none; } }

@media (min-width: 1200px) {
  .home .product, .archive article {
    width: 32.20339%;
    float: left; }
    .home .product:nth-child(3n + 1), .archive article:nth-child(3n + 1) {
      margin-left: 0;
      margin-right: -100%;
      clear: both;
      margin-left: 0; }
    .home .product:nth-child(3n + 2), .archive article:nth-child(3n + 2) {
      margin-left: 33.89831%;
      margin-right: -100%;
      clear: none; }
    .home .product:nth-child(3n + 3), .archive article:nth-child(3n + 3) {
      margin-left: 67.79661%;
      margin-right: -100%;
      clear: none; } }

.home .product .title-small, .archive article .title-small {
  position: relative;
  top: 7px; }
  .home .product .title-small a, .archive article .title-small a {
    color: #000; }
    .home .product .title-small a:hover, .archive article .title-small a:hover {
      color: #CEB14B; }

.home .product .subtitle-small, .archive article .subtitle-small {
  position: relative;
  top: -10px;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.product-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .product-image .product-title, .product-image .product-subtitle {
    color: #fff; }
  .product-image .product-title {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 3px;
    line-height: 0; }
  .product-image .product-spacer {
    width: 80px;
    height: 1px;
    background: #fff;
    margin-bottom: 5px; }
  .product-image .product-subtitle {
    font-weight: 500;
    letter-spacing: 2px; }

.button.centered {
  display: block;
  text-align: center;
  width: 250px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto; }

.nav-secondary {
  background: #EDEDED;
  text-align: center; }
  .nav-secondary li a {
    padding: 15px;
    font-size: 16px;
    color: #000; }
  .nav-secondary .genesis-nav-menu li.current-menu-item > a:hover, .nav-secondary .genesis-nav-menu li.current-menu-item > a, .nav-secondary .genesis-nav-menu > li > a:hover {
    border: none;
    color: #CEB14B; }

.archive article {
  margin-top: -100px; }

.pagination {
  position: relative;
  top: -50px;
  margin-bottom: -100px; }
  .pagination ul {
    text-align: center; }

.archive-intro {
  text-align: center;
  padding: 60px 0 0; }

/*New scss*/
.section-three {
  background: url(images/girl-home.jpg) no-repeat left bottom #dae1e7;
  height: 724px;
  overflow: hidden; }
  .section-three .right-content {
    display: table-cell;
    height: 724px;
    vertical-align: middle; }
    @media (min-width: 960px) {
      .section-three .right-content {
        float: right;
        width: 50%;
        margin-top: 200px; } }
    .section-three .right-content .button {
      margin-top: 20px; }

.section-four {
  position: relative;
  padding: 20px 0;
  text-align: center; }
  .section-four .left-content {
    display: table-cell;
    text-align: left;
    vertical-align: middle; }
    @media (min-width: 1200px) {
      .section-four .left-content {
        float: left;
        width: 50%;
        margin-top: 80px; } }
    .section-four .left-content .button {
      margin-top: 20px; }
  @media (min-width: 1200px) {
    .section-four img {
      float: right;
      margin-top: 30px; } }

.sticky-product {
  -webkit-transition: .5s linear all;
          transition: .5s linear all;
  background: black none repeat scroll 0 0;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }
  .sticky-product h2 {
    color: #fff;
    display: inline;
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    display: block;
    float: left;
    padding: 6px 0px; }
  .sticky-product .buy {
    background: #ceb14b none repeat scroll 0 0;
    color: #fff;
    float: right;
    font-weight: bold;
    padding: 20px 50px; }

.button {
  background: transparent none repeat scroll 0 0;
  border-color: black;
  color: #000; }

/*# sourceMappingURL=style.css.map */