.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 600;
}
.product {
  position: relative;

  .product-tag {
    position: absolute;
    padding: 16px 12px;
    background: $primary-color;
    color: #fff;
    line-height: 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
  }
  .product-price {
    position: absolute;
    background: #000;
    padding: 16px 10px;
    color: #fff;
    right: 0;
    bottom: 58px;

    @include susy-media($mobile) {
      bottom: 78px;
    }
    z-index: 100;
    font-weight: 600;
    font-size: 14px;
    z-index: 100;
    line-height: 0;
  }
}
.archive .product-price {
  bottom: 58px;
}
.last-products {
  background: $bg-grey;
  padding: 40px 0;
}
.product-grid-container {
  @include clearfix;
}
.home .product, .archive article {
  @include susy-media($mobile) {
    @include gallery(6);
  }
  @include susy-media($desktop) {
    @include gallery(4);
  }
  .title-small {
    position: relative;
    top: 7px;

    a {
      color: #000;

      &:hover {
        color: $primary-color;
      }
    }
  }
  .subtitle-small {
    position: relative;
    top: -10px;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .product-title, .product-subtitle {
    color: #fff;
  }
  .product-title {
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 3px;
    line-height: 0;
  }
  .product-spacer {
    width: 80px;
    height: 1px;
    background: #fff;
    margin-bottom: 5px;
  }
  .product-subtitle {
    font-weight: 500;
    letter-spacing: 2px;
  }
}
.button.centered {
  display: block;
  text-align: center;
  width: 250px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}
//Nav secondary

.nav-secondary {
  background: $bg-grey;
  text-align: center;

  li {
    a {
      padding: 15px;
      font-size: 16px;
      color: #000;
    }
  }
  .genesis-nav-menu li.current-menu-item > a:hover, .genesis-nav-menu li.current-menu-item > a, .genesis-nav-menu > li > a:hover {
    border: none;
    color: $primary-color;
  }
}
//Shop
.archive article {
  margin-top: -100px;
}
.pagination {
  position: relative;
  top: -50px;
  margin-bottom: -100px;

  ul {
    text-align: center;
  }
}
.archive-intro {
  text-align: center;
  padding: 60px 0 0;
}
/*New scss*/
.section-three {
  background: url(images/girl-home.jpg) no-repeat left bottom #dae1e7;
  height: 724px;
  overflow: hidden;

  .right-content {
    display: table-cell;
    height: 724px;
    vertical-align: middle;

    @include susy-media($laptop) {
      float: right;
      width: 50%;
      margin-top: 200px;
    }
    .button {
      margin-top: 20px;
    }
  }
}
.section-four {
  position: relative;
  padding: 20px 0;

  .left-content {
    display: table-cell;
    text-align: left;
    vertical-align: middle;

    @include susy-media($desktop) {
      float: left;
      width: 50%;
      margin-top: 80px;
    }
    .button {
      margin-top: 20px;
    }
  }
  text-align: center;

  img {
    @include susy-media($desktop) {
      float: right;
      margin-top: 30px;
    }
  }
}
.sticky-product {
  transition: .5s linear all;
  background: black none repeat scroll 0 0;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  h2 {
    color: #fff;
    display: inline;
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    display: block;
    float: left;
    padding: 6px 0px;
  }
  .buy {
    background: #ceb14b none repeat scroll 0 0;
    color: #fff;
    float: right;
    font-weight: bold;
    padding: 20px 50px;
  }
}
.button {
  background: transparent none repeat scroll 0 0;
  border-color: black;
  color: #000;
}