/*--------------------------------------------------------------
COLORS
--------------------------------------------------------------*/
$bg-grey: #EDEDED;
$primary-color: #CEB14B;

/*--------------------------------------------------------------
SUSY
--------------------------------------------------------------*/
$susy: (
  flow: ltr,
  math: fluid,
  output: float,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 12,
  gutters: 0.25,
  column-width: false,
  global-box-sizing: border-box,
  last-flow: to,
  debug: (
    image: hide,
    color: rgba(red, 0.25),
    output: overlay,
    toggle: bottom right,
  ),
  use-custom: (
    background-image: true,
    background-options: true,
    box-sizing: true,
    clearfix: true,
    rem: true,
  )
);
$mobile: 480px;
$tablet: 768px;
$laptop: 960px;
$desktop:1200px;